<%= render "shared/headline" %>
<%= render "shared/search" %>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <% if @results.present? %>
      <div id="organizations">
        <% @results.each do |result| %>
          <p class="search-result">
            <% if result.is_a?(Organization) %>
              <%= link_to result.name, organization_path(result) %> (Organization)
            <% elsif result.is_a?(User) %>
              <%= link_to result.name, user_path(result) %> (User)
            <% end %>
          </p>
          <br />
        <% end %>
      </div>
    <% end %>
  </div>
</div>  


<div class="row">
  <div class="col-sm-10">
    <%= paginate @results if @results %>
  </div>
</div>
