<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-sm-2">
        <% if @user.avatar.present? %>
          <%= image_tag @user.avatar, height: "100", class: "pull-left" %>
        <% elseif @user.startup_genome_image.present? %>
          <%= image_tag @user.startup_genome_image, height: "100" %>
        <% elseif @user.image.present? %>
            <%= image_tag @user.image, height: "100", class: "pull-left" %>
        <% else %>
          <span class="glyphicon glyphicon-user"></span>
        <% end %>
        <%= form_tag upload_avatar_user_path, multipart: true do %>
          <%= file_field_tag :avatar %>
          <%= submit_tag "Change" %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <%= form_for current_user, html: {role: "form", class: "inline-form"} do |f| %>
          <div class="form-group">
            <%= f.text_field "name", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.text_field "email", class: "form-control" %>
          </div>
          <%= f.submit "Save Changes", class: "btn btn-default btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
