<div class="row">
  <div class="col-sm-4">
    <% if @user.startup_genome_image.present? %>
      <%= image_tag @user.startup_genome_image, height: "220" %>
    <% elsif @user.image.present? %>
      <%= image_tag @user.image, height: "220", class: "pull-left" %>
    <% else %>
      <span class="glyphicon glyphicon-user"></span>
    <% end %>
  </div>
  <div class="col-sm-8">
    <h2 class="page-header"><%= @user.name %></h2>
    <div class="user_details">
      <% if @user.email.nil? %>
        <%= render "users/email_modal" %>
      <% end %>
    </div>
    <%= render "users/show_tags" %>
  </div>
</div>
