<div class="row">
  <div class="col-sm-1">
    <%= image_tag current_user.image, height: '50' %>
  </div>
  <div class="col-sm-4">
    <%= form_for current_user, html: {role: "form"} do |f| %>
      <div class="form-group">
        <%= f.text_field "name", class: "form-control" %>
        <%= f.text_field "email", class: "form-control" %>
      </div>
      <%= f.submit "Save Changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<h4>ORGANIZATIONS</h4>
<%= link_to "Add New Organization", new_organization_path %>
<% current_user.organizations.each do |org| %>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <h5><%= link_to org.name, organization_path(org) %></h5>
        <table class="table table-striped roles-table">
          <% current_user.organization_user_roles.each do |role| %>
            <tr>
              <td>
                <%= role.name %>
              </td>
              <td>
                <%= link_to '<span class="glyphicon glyphicon-remove"></span>
'.html_safe, remove_role_path(org.id, role.id), method: :delete, class: "remove-role right" %>
              </td>
            </tr>
          <% end %>
        </table>
        <div class="col-sm-4">
          <%= form_tag add_role_path(org.id), method: :post, role: "form", class: "form-inline" do %>
            <%= collection_select :role, :id, Role.all, :id, :name, {}, {class: "form-control"}%>
            <%= submit_tag "Add Role", class: "btn btn-default" %>
          <% end %>  
        </div>
      </div>
    </div>
  </div>
<% end %>
