<div class="row">
  <div class="col-sm-1">
    <% if @user.image.present? %>
      <%= image_tag @user.image, height: '50' %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <span class="big-text"><%= @user.name %></span><br />
    <% if @user.email.present? %>
      <%= @user.email %>
    <% else %>
      <%= render 'email_modal' %>
    <% end %>
  </div>
  <% if current_user.present? %>
    <div class="col-sm-1 col-sm-offset-10">
      <%= link_to "edit", edit_user_path(@user) %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Organizations</h3>
    <% if current_user %>
      <%= link_to "Add New Organization", new_organization_path %>
    <% end %>
    <% @user.organizations.each do |org| %>
      <p>
        <%= link_to org.name, organization_path(org) %>
      </p>
    <% end %>
  </div>
</div>
