<div class="row">
  <div class="col-sm-1">
    <%= image_tag current_user.image, height: '50' %>
  </div>
  <div class="col-sm-4">
    <span class="big-text"><%= current_user.name %></span><br />
    <% if current_user.email.present? %>
      <%= current_user.email %>
    <% else %>
      <%= render 'email_modal' %>
    <% end %>
  </div>
  <div class="col-sm-1 col-sm-offset-10">
    <%= link_to "edit", edit_user_path(current_user) %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <% current_user.organizations.each do |org| %>
      <p>
        <%= org.name %>
      </p>
    <% end %>
  </div>
</div>
