<div class="auth-btns right">
<% if current_user.nil? %>
  <script type="text/javascript">

    var widget = new Auth0Widget({
      domain:         '<%= Rails.application.secrets.auth0_domain %>',
      clientID:       '<%= Rails.application.secrets.auth0_client_id %>',
      callbackURL:    '<%= Rails.application.secrets.auth0_callback_url %>'
    });
    
  </script>
  <button onclick="widget.signin({ scope: 'openid profile' })" class="btn btn-default" >Login</button>
<% end %>
<% if current_user %>
  <%= link_to image_tag(current_user.image, height: '30'), user_path(current_user) %>
  <%= link_to "Logout", unset_session_path, class: "btn btn-default" %>
<% end %>
</div>
