<div class="panel panel-default">
  <div class="panel-body activity">  
    <%= link_to activity.owner.name, user_path(activity.owner) %>

    added link 
    <% if activity.trackable %>
      <%= link_to activity.trackable.name, activity.trackable.url %>
       
      to 

      <%= link_to activity.trackable.organization.name, activity.trackable.organization %>
    <% else %>
    <%= link_to activity.parameters[:name], activity.parameters[:url] %>
      to 
       <%= link_to activity.parameters[:org_name], organization_path(Organization.find(activity.parameters[:org_id])) %>
       (since removed)
    <% end %>
  </div>
</div>
