<%= render "shared/search" %>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <% if @results.present? %>
      <div id="organizations">
        <% @results.each do |result| %>
          <p class="search-result">
            <% if result.is_a?(Organization) %>  
              <i class='wr-icon wr-icon-md wr-icon-community'></i><%= link_to result.name, organization_path(result) %>
            <% elsif result.is_a?(User) %>
              <% if result.image.present? %>
                <%= image_tag result.image, height: '30' %>
              <% else %>
                <i class='wr-icon wr-icon-founder-av'></i>
              <% end %>
              <%= link_to result.name, user_path(result) %>
            <% end %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>  


<div class="row">
  <div class="col-sm-10">
    <%= paginate @results if @results %>
  </div>
</div>
