<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">  
      <h3>Address</h3>
      <%= form_for @address, html: {role: "form"} do |f| %>
        <div class="form-group">
          <%= f.label :address1 %>
          <%= f.text_field :address1, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :address2 %>
          <%= f.text_field :address2, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "City"%>
          <%= f.text_field :city, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Province"%>
          <%= f.text_field :state, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Postal Code" %>
          <%= f.text_field :zip, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :country %>
          <%= f.text_field :country, class: "form-control" %>
        </div>
        <%= f.hidden_field :organization_id, :value => @organization.id %>
        <%= f.submit "Save Address", class: "btn btn-primary" %>
      <% end %> 
    </div>
  </div>
</div>
