<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Roles</h3>
      <table class="table table-striped roles-table">
        <% @organization.organization_user_roles.each do |role| %>
          <tr>
            <td>
              <%= role.name %>: <%= link_to role.user.name, user_path(role.user) %>
            </td>
            <td>
              <%= link_to '<span class="glyphicon glyphicon-remove"></span>
'.html_safe, remove_role_path(@organization.id, role.id), method: :delete, class: "remove-role pull-right" %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="col-sm-4">
        <%= form_tag add_role_path(@organization.id), method: :post, role: "form", class: "form-inline" do %>
          <%= collection_select :role, :id, Role.all, :id, :name, {}, {class: "form-control"}%>
          <%= submit_tag "Add Role", class: "btn btn-default" %>
        <% end %>  
      </div>
    </div>
  </div>
</div>
