<div class="col-sm-4">
  <div class="header-image">
    <% if @organization.image.present? %>
      <%= image_tag @organization.image, height: "220" %>
    <% elsif @organization.image.present? %>
      <%= image_tag @organization.image, height: "220", class: "pull-left" %>
    <% else %>
      <span class="glyphicon glyphicon-user"></span>
    <% end %>
  </div>
</div>
<div class="col-sm-8">
  <span class="big-text"><%= @organization.name %></span>
  <p><%= @organization.headline %></p>
  <% if @organization.main_address %>
    <div class="pull-left"><%= display_address %></div>
  <% end %>
  <% if @organization.hiring? %>
    <span id="label-hiring" class="label label-success pull-left status">Hiring</span>
  <% end %>
</div>
