<%= render "organizations/claim_header" %>
<%= render "organizations/profile_header" %>
<%= render "organizations/show_tags" if @organization.tags.any? %> 
<%= render "organizations/show_profile_links" %>
<%= render "organizations/profile_description" %>

<% if @organization.claimed? %>
  <p class="claimant">
    This profile was claimed by: <%= link_to @organization.users.first.name, user_path(@organization.users.first) %>
  </p>
<% end %>
