<%= render "organizations/claim_header" %>
<%= render "organizations/profile_header" %>

<div id="profile-links">
  <ul class="list-unstyled">
    <li>
      <span><%= link_to "Startup Genome", @organization.url %></span>
    </li>
    <% @organization.profile_links.each do |profile_link| %> 
      <li>
        <%= link_to profile_link.name, profile_link.url %>
      </li>
    <% end %>
  </ul>

  <%= link_to '<span class="glyphicon glyphicon-edit"></span>
'.html_safe, edit_organization_path(@organization), class: "edit" %>
</div>

<div id="tags">
  <%= @organization.tag_list %>
  <%= link_to '<span class="glyphicon glyphicon-edit"></span>
'.html_safe, edit_organization_path(@organization), class: "edit" %>
</div>

<%= render "organizations/profile_description" %>

<% if @organization.claimed? %>
  <p class="claimant">
    This profile was claimed by: <%= link_to @organization.users.first.name, user_path(@organization.users.first) %>
  </p>
<% end %>
