<%= render "organizations/claim_header" %>
<%= render "organizations/profile_header" %>
<% @organization.profile_links.each do |profile_link| %>
  <%= link_to profile_link.name, profile_link.url %><br />
<% end %>
<div class="right">
  <%= link_to "edit", edit_organization_path(@organization) %>
</div>
<%= render "organizations/profile_description" %>
